rt/TicketService.wsdl

<?xml version="1.0"?>
<definitions name="ticketservice"
	targetNamespace="http://opennms.org/integration/rt/ticketservice"
	xmlns:tns="http://opennms.org/integration/rt/ticketservice"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/">

	<types>
		<xsd:schema
			targetNamespace="http://opennms.org/integration/rt/ticketservice"
			xmlns:tns="http://opennms.org/integration/rt/ticketservice"
			xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/"
			xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<xsd:import
				namespace="http://schemas.xmlsoap.org/soap/encoding/" />
			<xsd:complexType name="TicketID">
				<xsd:all>
					<xsd:element name="TicketID" type="xsd:long"
						minOccurs="1" />
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="Ticket">
				<xsd:all>
					<xsd:element name="TicketID" type="xsd:long"
						minOccurs="0" />
					<xsd:element name="Status" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="Subject" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="Contents" type="xsd:int"
						minOccurs="0" />
					<xsd:element name="Requestor" type="xsd:string"
						minOccurs="0" />
					<xsd:element name="LastUpdated" type="xsd:dateTime"
						minOccurs="0" />
				</xsd:all>
			</xsd:complexType>

			<xsd:complexType name="Credentials">
				<xsd:all>
					<xsd:element name="User" type="xsd:string"
						minOccurs="1" />
					<xsd:element name="Pass" type="xsd:string"
						minOccurs="1" />
				</xsd:all>
			</xsd:complexType>
		</xsd:schema>
	</types>


	<message name="TicketGetByIDRequest">
		<part name="ticketID" type="xsd:long" />
		<part name="request_header" type="tns:Credentials" />
	</message>

	<message name="TicketGetResponse">
		<part name="return" type="tns:Ticket" />
	</message>

	<message name="TicketCreateRequest">
		<part name="ticket" type="tns:Ticket" />
		<part name="request_header" type="tns:Credentials" />
	</message>

	<message name="TicketCreateResponse">
		<part name="ticketID" type="xsd:long" />
	</message>
	
	<portType name="TicketServicePort">

		<operation name="TicketGetByID">
			<input message="tns:TicketGetByIDRequest" />
			<output message="tns:TicketGetResponse" />
		</operation>

		<operation name="TicketCreate">
			<input message="tns:TicketCreateRequest" />
			<output message="tns:TicketCreateResponse" />
		</operation>
		
	</portType>

	<binding name="TicketServiceSoapBinding" type="tns:TicketServicePort">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="TicketGetByID">
			<soap:operation
				soapAction="http://opennms.org/integration/otrs/ticketservice#TicketGetByID" />
			<input>
				<soap:body use="encoded"
					namespace="http://opennms.org/integration/otrs/ticketservice"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				<soap:header use="encoded" part="request_header"
					message="tns:TicketGetByIDRequest"
					namespace="http://opennms.org/integration/otrs/ticketservice"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded"
					namespace="http://opennms.org/integration/otrs/ticketservice"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
		<operation name="TicketCreate">
			<soap:operation
				soapAction="http://opennms.org/integration/otrs/ticketservice#TicketCreate" />
			<input>
				<soap:body use="encoded"
					namespace="http://opennms.org/integration/otrs/ticketservice"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
				<soap:header use="encoded" part="request_header"
					message="tns:TicketCreateRequest"
					namespace="http://opennms.org/integration/otrs/ticketservice"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</input>
			<output>
				<soap:body use="encoded"
					namespace="http://opennms.org/integration/otrs/ticketservice"
					encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
			</output>
		</operation>
	</binding>

	<service name="TicketService">
		<port name="TicketServicePort" binding="tns:TicketServiceSoapBinding">
			<soap:address location="http://localhost/rt/opennms.pl" />
		</port>
	</service>

</definitions>
